a {
  text-decoration: none;
}

.header {
  background: linear-gradient(225deg, #fff, #bbc5ff);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.header img {
  margin-top: 25px;
  width: 150px;
}

.header h1 {
  color: #172286;
  font-family: serif;
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 300px;
}

.Navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 280px);
  height: 6s0px;
  left: 200px;
  padding: 0px 40px;
  color: #fff;
  background-color: rgb(43, 36, 149);
  border-bottom: 1px solid #fff;
  text-align: center;
}

.Navbar__dropbox select {
    /* 생략 */
    font-family: "Noto Sansf KR", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
  
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
  
    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px 5px rgba(63, 63, 156, 0.04);
}

.Navbar__dropbox select:hover {
    border-color: #888;
  }
  
.Navbar__dropbox select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  
.Navbar__dropbox select:disabled {
    opacity: 0.5;
}

.Navbar__sort {
  display: flex;
  justify-content: center;
}

.Navbar__sort ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.Navbar__sort ul li {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  background: none;
}

.Navbar__sort ul li:hover {
  background: linear-gradient(45deg, rgb(103, 137, 250), rgb(47, 50, 234));
  transition: 1s;
  box-shadow: rgba(0, 255, 255, 0.525) 0px 5px 20px;
}

.Navbar__sort ul li a {
  text-decoration: none;
  color: #fff;
}

.background {
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  background: linear-gradient(360deg, #262d6a, #3527b1, #07002e);
}

.card_layout {
  margin: 20px 0 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 0.5fr));
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  padding: 0 20px 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 450px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  background: linear-gradient(45deg, #0e0542, #172286);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.8);
  text-align: center;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(4, 0, 255);
  transform: scale(1.05);
  transition-duration: 1s;
}

.card__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: serif;
  color: #fff;
  font-weight: 600;
}

.card__name span {
  font-size: 16px;
  color: #ddd;
  margin-top: 5px;
}

.card__name h3 {
  font-size: 26px;
  text-align: center;
  margin-top: 7px;
}

.card__rectangle {
  background-color: rgba(104, 116, 189, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.5);
  border-radius: 20px;
  width: 200px;
  height: 250px;
  overflow: hidden;
}

.card__rectangle img {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
}

.card__detail {
  color:white;
  padding: 15px;
  font-size: 13px;
}

.card__detail span {
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
}