a {
  text-decoration: none;
}

.header {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.header img {
  margin-top: 25px;
  width: 150px;
}

.header h1 {
  color: #b8bde3;
  font-family: serif;
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 150px;
}
.header p {
  font-family: serif;
    text-align: center;
    color: #c5cae2;
}

.Navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 280px);
  height: 75px;
  left: 200px;
  padding: 0px 40px;
  color: #fff;
  background-color: rgb(36, 57, 149);
  border-bottom: 1px solid #fff;
  text-align: center;
}

.Navbar__dropbox select {
    /* 생략 */
    font-family: "Noto Sansf KR", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #444;
    background-color: #fff;

    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
  
    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px 5px rgba(63, 63, 156, 0.04);
}

.Navbar__dropbox select:hover {
    border-color: #888;
  }
  
.Navbar__dropbox select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  
.Navbar__dropbox select:disabled {
    opacity: 0.5;
}

.Navbar__sort {
  display: flex;
  justify-content: center;
}

.Navbar__sort ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.Navbar__sort ul li {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  background: none;
}

.Navbar__sort ul li:hover {
  background: linear-gradient(45deg, rgb(103, 137, 250), rgb(47, 50, 234));
  box-shadow: rgba(0, 255, 255, 0.525) 0px 5px 20px;
}

.Navbar__sort ul li span {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.background {
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  background: radial-gradient(ellipse at bottom, #262d6a, #3253d6, #07002e);
}

.card_layout {
  margin: 20px 0 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 0.5fr));
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  padding: 0 20px 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 450px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  background: linear-gradient(45deg, #0e0542, #172286);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.8);
  text-align: center;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(4, 0, 255);
  transform: scale(1.05);
  transition-duration: 1s;
}

.card__number {
  color: #fff;
  /* border: 1px solid #fff; */
  opacity: 0.5;
  font-size: 40px;
  padding: 10px 0 0 15px;
  font-family: serif;
  /* width: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  letter-spacing: -3px;
}

.card__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: serif;
  /* letter-spacing: 2px; */
  color: #fff;
  font-weight: 600;
}

.card__name span {
  font-size: 16px;
  color: #ddd;
  margin-top: 5px;
}

.card__name h3 {
  font-size: 26px;
  text-align: center;
  margin-top: 7px;
}

.card__rectangle {
  background-color: rgba(104, 116, 189, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  box-shadow: 0 10px 25px rgba(51, 51, 51, 0.5);
  border-radius: 20px;
  width: 200px;
  height: 250px;
  overflow: hidden;
}

.card__rectangle img {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
}

.card__detail {
  color:white;
  padding: 15px;
  font-size: 13px;
}

.card__detail span {
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .header {
    position: relative;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    /* display: none; */
  }
  .header img {
    margin-top: 0;
    width: 100px;
  }
  .header p {
    display: none;
  }
  .Navbar {
    /* top: 100px; */
    left: 0;
    padding: 0;
    width: calc(100%);
  }
  .Navbar__sort {
    padding: 0;
  }
  .Navbar__sort ul {
    padding: 0px;
  }
  .background {
    top: 175px;
    left: 0;
    width: 100%;
  }
  .Navbar__dropbox select {
    margin-left: 10px;  
  }
}
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    /* justify-content: center; */
    height: 180px;
    align-items: center;
  } 
  .Navbar {
    /* display: none; */
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Navbar__sort {
    padding: 0;
    margin: 0;
  }
  .background {
    top: 330px;
  }
}